h1 {
    color: white;
    background-color: black;
    font-size: 40px;
    font-family: sans-serif;
}
#Cloud {
    color: rgba(0, 247, 255, 0.971)
}
h2{
    background-color: darkmagenta;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: sans-serif;
}
h3{
    text-align: right;
    background-color: cornflowerblue;
    text-decoration: underline;
    font-size: 30px;
    color: indigo;
    font-family: sans-serif;
}